apiVersion: v1
kind: Secret
metadata:
  name: portfolio-secrets
  namespace: portfolio
type: Opaque
stringData:
  SMTP_HOST: smtp.gmail.com
  SMTP_PORT: "587"
  SMTP_USER: shrinidhiupadhyaya00@gmail.com
  SMTP_PASS: gizijgvoksmbaarq
  EMAIL_TO: shrinidhiupadhyaya00@gmail.com
